@media (max-width: 768px) {
  .features .nav-item:first-child {
    border-top: 2px solid lightgrey;
  }

  .download-cards {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navbar-nav .nav-item {
    margin-right: 0;
  }
}
