$primary: #5265e1;
$secondary: #fa5959;
$tertiary: #242946;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "global";
@import "links";
@import "buttons";
@import "cards";
@import "tabs";
@import "accordion";
@import "footer";
@import "media";
